@import "~bootstrap/scss/bootstrap.scss";
.about-us {
    text-align: center;
    margin-right: 6rem;
    margin-left: 6rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#myButton {
    text-transform: uppercase;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
    background: #64a58f;
    border: 0;
    color: #fff;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 700;
    cursor: pointer;
}
#myButton:hover {
        background: #40695b;
}
.theButton {
    margin: 2rem;
}
section.description p {
    margin: 2rem;
    color: rgb(63, 63, 63);
}
.myHeader {
    color: #5a6a71;
    font-weight: 400;
    margin: 2rem;
}
.myNav{
    background: #64a58f;
    justify-content: space-evenly;
}
#responsive-navbar-nav {
    flex-basis: auto;
    text-align: right;
    justify-content: flex-end;
}
.me-auto {
    margin: 0 !important;
}
.m-1 {
    justify-content: space-between;
}
.buttonOf {
    background:#5a6a71;
    border-color: #5a6a71;
    color: white;
}
.buttonOf:hover {
    background: #353e42;
    border-color:#353e42;
    color: white;
}
.buttonOf:active {
    background: rgb(63, 63, 63);
  }
.buttonOf:visited {
    background: #64a58f;
  }
